.mainpage {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgb(7, 6, 4) 0%,
    rgb(49, 47, 47) 50%,
    rgb(7, 6, 4) 89%
  );
  font-family: "Truculenta", sans-serif;
  overflow: hidden;
}

.mainpage__text-wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

.mainpage__text-animation {
  white-space: nowrap;
  overflow: hidden;
  color: rgba(235, 155, 8, 0.8);
  border-right: 2px solid white;
  font-family: "Brush Script MT Italic";
  font-size: 24px;
  transition: all 0.5s ease;
}

.mainpage__text-animation--0 {
  margin-left: -20px;
  animation: animationCodeShort 0.5s steps(6) 3s normal both;
}
.mainpage__text-animation--1 {
  margin-left: -10px;
  animation: animationCodeShort 0.5s steps(7) 3.5s normal both;
}
.mainpage__text-animation--2 {
  margin-left: 0;
  animation: animationCodeLong 1.5s steps(27) 4s normal both;
}
.mainpage__text-animation--3 {
  margin-left: -10px;
  animation: animationCodeShort 0.5s steps(7) 5.5s normal both;
}
.mainpage__text-animation--4 {
  margin-left: -20px;
  animation: animationCodeShort 0.5s steps(7) 6s normal both;
}

@keyframes animationCodeShort {
  0% {
    width: 0;
    border-right-width: 0px;
  }
  1% {
    border-right-width: 2px;
  }
  99% {
    border-right-width: 2px;
  }
  100% {
    width: 85px;
    border-right-width: 0px;
  }
}

@keyframes animationCodeLong {
  0% {
    width: 0;
    border-right-width: 0px;
  }
  1% {
    border-right-width: 2px;
  }
  99% {
    border-right-width: 2px;
  }
  100% {
    width: 265px;
    border-right-width: 0px;
  }
}

@media (min-width: 500px) {
  .mainpage__text-animation {
    font-size: 30px;
  }
  @keyframes animationCodeLong {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 330px;
      border-right-width: 0px;
    }
  }
  @keyframes animationCodeShort {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 105px;
      border-right-width: 0px;
    }
  }
}

@media (min-width: 700px) {
  .mainpage__text-animation {
    font-size: 35px;
  }
  @keyframes animationCodeLong {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 385px;
      border-right-width: 0px;
    }
  }
  @keyframes animationCodeShort {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 120px;
      border-right-width: 0px;
    }
  }
}

@media (min-width: 1000px) {
  .mainpage__text-wrapper {
    left: 50%;
    top: 60%;
  }
  .mainpage__text-animation {
    font-size: 40px;
  }

  @keyframes animationCodeLong {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 440px;
      border-right-width: 0px;
    }
  }
  @keyframes animationCodeShort {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 135px;
      border-right-width: 0px;
    }
  }
}

@media (min-width: 1200px) {
  .mainpage__text-wrapper {
    left: 75%;
    top: 60%;
  }
  .mainpage__text-animation {
    font-size: 40px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .mainpage__text-wrapper {
    left: 70%;
    top: 50%;
  }
  .mainpage__text-animation {
    font-size: 30px;
  }

  @keyframes animationCodeLong {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 330px;
      border-right-width: 0px;
    }
  }
  @keyframes animationCodeShort {
    0% {
      width: 0;
      border-right-width: 0px;
    }
    1% {
      border-right-width: 2px;
    }
    99% {
      border-right-width: 2px;
    }
    100% {
      width: 115px;
      border-right-width: 0px;
    }
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .mainpage__text-wrapper {
    left: 70%;
    top: 50%;
  }
}
