.navigationlink {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
  align-items: center;
  margin-top: 60px;
}
.navigationlink:hover path {
  stroke: orange;
  fill: orange;
}

.navigationlink:hover p {
  color: orange;
}

.active path {
  stroke: orange;
  fill: orange;
}
.active p {
  color: orange !important;
}

.navigationlink svg {
  font-size: 30px;
}

.navigationlink svg:nth-child(2) {
  margin-bottom: 100px;
}

.navigationlink p {
  color: white;
  text-transform: uppercase;
  z-index: 20;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
