#logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 500;
}

#logo path {
  stroke: #cc8d2e;
}
#logo path:nth-child(odd) {
  stroke-dasharray: 444.5;
  stroke-dashoffset: 444.5;
  animation: line-anime 4s ease forwards 3s;
}
#logo path:nth-child(even) {
  stroke-dasharray: 444.5;
  stroke-dashoffset: 444.5;
  animation: line-anime 3s ease forwards 3s;
}
@keyframes line-anime {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 500px) {
  #logo {
    width: 400px;
  }
}

@media (min-width: 700px) {
  #logo {
    width: 500px;
  }
}

@media (min-width: 1000px) {
  #logo {
    width: 600px;
    top: 15%;
    left: 40%;
  }
}
