.mainpage {
  margin: 0;
  height: 100vh;
  background-color: rgb(36, 36, 36);
  font-family: "Truculenta", sans-serif;
}

.mainpage__error-types p:nth-child(1) {
  position: absolute;
  background-color: rgb(36, 36, 36);
  color: rgba(250, 250, 250, 0.5);
  top: 20%;
  left: 80%;
  font-size: 25px;
  animation: fontSize 5s 1s;
}
.mainpage__error-types p:nth-child(2) {
  position: absolute;
  background-color: rgb(36, 36, 36);
  color: rgba(250, 250, 250, 0.5);
  top: 30%;
  left: 65%;
  font-size: 25px;
  animation: fontSize 5s 1s;
}
.mainpage__error-types p:nth-child(3) {
  position: absolute;
  background-color: rgb(36, 36, 36);
  color: rgba(250, 250, 250, 0.5);
  top: 80%;
  left: 80%;
  font-size: 25px;
  animation: fontSize 5s 1s;
}
.mainpage__error-types p:nth-child(4) {
  position: absolute;
  background-color: rgb(36, 36, 36);
  color: rgba(250, 250, 250, 0.5);
  top: 80%;
  left: 20%;
  font-size: 25px;
  animation: fontSize 5s 1s;
}

.main-page__image-wrapper {
  position: absolute;
  top: 55%;
  left: 20%;
}

.main-page__image-react {
  animation: image3 4s 3s infinite;
  transform: translate(0, 0);
  margin-right: 100px;
  margin-left: 100px;
  height: 0;
  opacity: 0.5;
}
.main-page__image-js {
  opacity: 0.5;
}

.mainpage__text-wrapper {
  position: absolute;
  top: 55%;
  left: 65%;
}

.mainpage__text-animation {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  border-right: 2px solid white;
  font-family: "Brush Script MT Italic";
  font-size: 2rem;
  transition: all 0.5s ease;
}

.mainpage__text-animation--0 {
  margin-left: -4rem;
  animation: animationCodeShort 0.5s steps(6) 3s normal both;
}
.mainpage__text-animation--1 {
  margin-left: -2rem;
  animation: animationCodeShort 0.5s steps(7) 3.5s normal both;
}
.mainpage__text-animation--2 {
  margin-left: 0rem;
  animation: animationCodeLong 1.5s steps(27) 4s normal both;
}
.mainpage__text-animation--3 {
  margin-left: -2rem;
  animation: animationCodeShort 0.5s steps(7) 5.5s normal both;
}
.mainpage__text-animation--4 {
  margin-left: -4rem;
  animation: animationCodeShort 0.5s steps(7) 6s normal both;
}

@keyframes fontSize {
  0% {
    font-size: 0;
  }
  30% {
    font-size: 0;
  }
  70% {
    font-size: 30px;
  }
  75% {
    font-size: 25px;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes image3 {
  0% {
    transform: rotate(0deg);
    height: 0;
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
    height: 100%;
  }
}

@keyframes animationCodeShort {
  0% {
    width: 0;
    border-right-width: 0px;
  }
  1% {
    border-right-width: 2px;
  }
  99% {
    border-right-width: 2px;
  }
  100% {
    width: 130px;
    border-right-width: 0px;
  }
}

@keyframes animationCodeLong {
  0% {
    width: 0;
    border-right-width: 0px;
  }
  1% {
    border-right-width: 2px;
  }
  99% {
    border-right-width: 2px;
  }
  100% {
    width: 360px;
    border-right-width: 0px;
  }
}
