.navbar {
  position: fixed;
  background-color: transparent;
  border-right: 2px solid grey;
  height: 100vh;
  width: 80px;
  z-index: 233;
  display: flex;
  flex-direction: column;
  display: none;
}

.navbar__links--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar path {
  stroke: white;
  fill: white;
}

.navbar__links--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 10%;
}

.space {
  height: 100%;
}
.navbar-contact {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  transform: rotate(0);
  width: 80px;
  margin-bottom: 10px;
}
.navbar-contact p {
  margin-bottom: 100px;
  color: white;
  width: 100px;
  transform: rotate(-90deg);
  background: -webkit-linear-gradient(#fa9601, rgb(207, 205, 205));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-contact:before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: 40%;
  left: 20px;
  transform: rotate(90deg);
  background-color: white;
}

.MuiSvgIcon-root:nth-last-child(1) {
  font-size: 30px !important;
}

@media (min-width: 900px) {
  .navbar {
    display: flex;
  }
}

@keyframes animation {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
    transform: rotate(-5deg);
  }
}
