.navbar {
  position: absolute;
  background-color: rgb(36, 36, 36);
  border-right: 2px solid rgb(255, 255, 255);
  height: 100vh;
  width: 80px;
  z-index: 233;
  display: flex;
  flex-direction: column;
}
.space {
  height: 100%;
}

.navbar__links--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

svg {
  color: rgb(146, 142, 142);
  font-size: 35px !important;
}
.navbar path {
  stroke: rgb(146, 142, 142);
}
span {
  margin-top: 50px;
  display: flex;
  z-index: 222;
  align-items: center;
  margin-left: 145px;
}

span:hover svg {
  filter: blur(1px);
}
.arrow {
  margin-left: 20px;
  width: 120px;
  height: 70px;
  z-index: 300;
  transform: translateX(-500%) rotate(-20deg);
  animation: animation 2s 3s forwards;
}

.navbar p {
  transform: rotate(10deg);
  margin-top: 20px;
  color: black;
  font-size: 20px;
}
.MuiSvgIcon-root:nth-last-child(1) {
  margin-bottom: 40px;
}

@keyframes animation {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
    transform: rotate(-5deg);
  }
}
