.aboutpage {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    rgb(7, 6, 4) 0%,
    rgb(49, 47, 47) 50%,
    rgb(7, 6, 4) 89%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.aboutpage__header {
  background: -webkit-linear-gradient(#fa9601, rgba(36, 36, 36, 1));
  font-size: 60px;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.aboutpage__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.aboutpage__content h2 {
  font-size: 35px;
  color: white;
  margin-bottom: 50px;
  position: relative;
  text-transform: uppercase;
}

.aboutpage__content h2:after {
  content: "01";
  position: absolute;
  background: -webkit-linear-gradient(#fa9601, rgba(36, 36, 36, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.aboutpage__content img {
  width: 90%;
  height: 200px;
}

.aboutpage__text-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: white;
}
.aboutpage__text-wrapper h3 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0 40px 0;
}
.aboutpage__text-wrapper p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.button {
  color: #fa9601;
  border-color: #fa9601;
  background-color: transparent;
  border: 4px solid #fa9601;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 40px;
  margin-top: 20px;
  outline: none;
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
}
.button:hover {
  background-color: black;
}
@media (min-width: 600px) {
  .aboutpage__text-wrapper h3 {
    font-size: 50px;
  }
  .aboutpage__text-wrapper p {
    font-size: 20px;
    width: 80%;
    margin: 0 auto 20px;
  }
  .button {
    height: 50px;
    font-size: 20px;
    width: 60%;
  }
  .aboutpage__content img {
    width: 70%;
    height: 330px;
  }
}

@media (min-width: 1000px) {
  .aboutpage__content__title-0 {
    transform: translateX(-3000px);
    animation: animationss 2s 2s forwards;
  }
  .aboutpage__header {
    transform: scale(0);
    animation: animations 1s 5s forwards;
  }
  .aboutpage__content__image-0 {
    transform: translateY(-3000px);
    animation: animationsss 2s 2.5s forwards;
  }
  .aboutpage__content {
    flex-direction: row;
  }
  .aboutpage__content__animation-0 p {
    animation: animations 2s 4s forwards;
  }
  .aboutpage__content__animation-0 h3 {
    animation: animations 1s 3.7s forwards;
  }
  .aboutpage__content__animation-0 button {
    animation: animation 2s 4s forwards;
  }
  .aboutpage__content__title-1 {
    transform: translateX(-3000px);
    animation: animationss 2s 3s forwards;
  }
  .aboutpage__content__image-1 {
    transform: translateY(3000px);
    animation: animationssss 2s 3.5s forwards;
  }
  .aboutpage__content__animation-1 p {
    animation: animations 2s 5s forwards;
  }
  .aboutpage__content__animation-1 h3 {
    animation: animations 1s 4.7s forwards;
  }
  .aboutpage__content__animation-1 button {
    animation: animation 2s 5s forwards;
  }
  .aboutpage__text-wrapper h3 {
    font-size: 40px;

    transform: scale(0);
  }
  .aboutpage__text-wrapper p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto 20px;
    transform: scale(0);
  }
  .aboutpage__content h2 {
    margin-left: 150px;
    margin-right: 20px;
  }
  .button {
    transform: translateX(-3000px);
    height: 40px;
    font-size: 18px;
    width: 60%;
  }
  .aboutpage__content img {
    width: 50%;
    height: 330px;
  }
  .aboutpage__text-wrapper {
    width: 30%;
  }

  @media (min-width: 1300px) {
    .aboutpage__content h2 {
      font-size: 40px;
      margin-left: 150px;
    }
    .aboutpage__content img {
      width: 700px;
      height: 400px;
    }
    .aboutpage__content h2:after {
      font-size: 90px;
    }
    .aboutpage__text-wrapper {
      width: 330px;
    }
    .aboutpage__header {
      font-size: 80px;
    }
    .button {
      height: 50px;
      font-size: 22px;
      width: 80%;
    }
    .aboutpage__text-wrapper p {
      font-size: 20px;
      width: 80%;
      margin: 0 auto 20px;
    }
  }

  @media (min-width: 1400px) {
    .aboutpage__content h2 {
      margin-left: 50px;
    }
  }

  @media (min-width: 1500px) {
    .aboutpage__content h2 {
      margin-left: 0;
    }
  }
  @keyframes animations {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes animationss {
    0% {
      transform: translateX(-3000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes animationsss {
    0% {
      transform: translateY(-1000px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes animationssss {
    0% {
      transform: translateY(1000px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes animation {
    0% {
      transform: translate(2000px);
    }
    100% {
      transform: translate(0);
    }
  }
}
